@import './variables.scss';

.header-container {
  height: 60px;
  width: 100vw;
  background-color: $primary-color;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px 10px 15px;
  z-index: 10;

  .header-title {
    font-size: 1.7rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .web-page-actions {
    img {
      transform: translateX(-100vw);
      transition: 0.2s ease-in-out;

      & + img {
        margin-left: 20px;
        
      }

      &.active {
        transform: translateX(0vw);
      }
    }
  }

  img {
    height: 2.5rem;

    &.back-to-list {
      position: absolute;
      opacity: 0;
      transition: 0.2s ease-in-out;

      &.active {
        opacity: 1;
      }
    }
  }
}