.restaurant-preview-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("../../images/cellGradientBackground@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.restaurant-preview-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .restaurant-preview-list .restaurant-preview-container {
    color: #FFF;
    width: 100%;
    height: 180px;
    position: relative;
    padding: 6px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden; }
    .restaurant-preview-list .restaurant-preview-container:hover {
      cursor: pointer; }
    @media (min-width: 425px) {
      .restaurant-preview-list .restaurant-preview-container {
        height: 220px; } }
    .restaurant-preview-list .restaurant-preview-container .restaurant-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0; }
    .restaurant-preview-list .restaurant-preview-container .restaurant-info {
      text-align: left;
      z-index: 2; }
      .restaurant-preview-list .restaurant-preview-container .restaurant-info .restaurant-preview-name {
        font-size: 1.6rem;
        font-weight: 700; }
      .restaurant-preview-list .restaurant-preview-container .restaurant-info .restaurant-preview-category {
        font-size: 1.2rem;
        font-weight: 500; }

@media (min-width: 575px) {
  .restaurant-preview-list .restaurant-preview-container {
    width: 50%;
    height: 180px; } }

@media (min-width: 1024px) {
  .restaurant-preview-list {
    max-width: 300px;
    box-shadow: 3px 0px 20px #5d5d5d42;
    position: relative;
    z-index: 1; }
    .restaurant-preview-list .restaurant-preview-container {
      width: 100%; } }
