.restaurant-content-container {
  position: fixed;
  width: 100%;
  min-height: calc(100vh - 110px);
  top: 60px;
  z-index: 90;
  background-color: #FFF;
  animation: slide_right 0.3s ease-in-out 1 forwards; }

@keyframes slide_left {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translate(0%); } }

@keyframes slide_right {
  0% {
    transform: translate(0%); }
  100% {
    transform: translateX(100%); } }
  .restaurant-content-container.active {
    animation: slide_left 0.3s ease-in-out 1 forwards; }
  .restaurant-content-container .map-placeholder {
    width: 100%;
    height: 180px; }
  .restaurant-content-container .restaurant-info-stripe {
    width: 100%;
    background-color: #34B379;
    padding: 15px 12px;
    text-align: left;
    color: white;
    min-height: 60px; }
    .restaurant-content-container .restaurant-info-stripe .restaurant-title {
      font-size: 1.6rem;
      font-weight: 700; }
    .restaurant-content-container .restaurant-info-stripe .restaurant-category {
      font-size: 1.2rem;
      font-weight: 400; }
  .restaurant-content-container .restaurant-detail-container {
    text-align: left;
    padding: 16px 12px; }
    .restaurant-content-container .restaurant-detail-container p {
      font-size: 1.6rem;
      font-weight: 400; }
      .restaurant-content-container .restaurant-detail-container p + p {
        padding-top: 20px; }

@media (min-width: 1024px) {
  .restaurant-content-container {
    width: calc(100% - 300px);
    min-height: calc(100vh - 60px); }
  @keyframes slide_left {
    0% {
      transform: translateX(calc(100% + 300px)); }
    100% {
      transform: translate(300px); } }
  @keyframes slide_right {
    0% {
      transform: translate(300px); }
    100% {
      transform: translateX(calc(100% + 300px)); } } }
