.web-map {
  width: 100vw;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 10;
  overflow: hidden;
  transform: translate(100%);
  transition: 0.3s ease-in-out; }
  .web-map.active {
    transform: translate(0%); }
  .web-map .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
    opacity: 1; }
    @media (max-width: 1023px) {
      .web-map .map-overlay {
        opacity: 0; } }
  @media (min-width: 1024px) {
    .web-map {
      z-index: 0;
      display: block;
      width: calc(100vw - 300px);
      transform: translateX(0%); } }
